@media screen and (max-width:600px) {

    :root {
        --primary-font: 0.7rem;
        --secondary-font: 0.9rem;
        --primary-padding: 4rem 1.2rem;
        --secondary-padding: 2rem 0;
    }
marquee {
    display: none;
}

    .brand>h1 {
        display: none;
    }

    .menu-list,
    .contact-btn {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section-part1 {
        width: 100%;
        gap: 1rem;
        align-items: center;
        text-align: center;

    }

    .hero-section-part2 {
        width: 70%;
    }

    .hero-section-part1>p {
        width: 85%;
    }

    /* ---------------- standard curriculum section -------------------- */
    .standard-curriculum{
        padding-top: 2rem;
    }
    .curriculum-card {
        width: 90%;
    }

    .arrow {
        display: none;
    }

    /* ---------------- our stroies section -------------------- */
    .part1 {
        display: none;
    }

    .our-stories {
        padding-top: 0;
        background-position: bottom left;
    }

    .item1 {
        display: none;
    }

    .date {
        padding: 7px;
    }

    .text-section {
        padding: 1rem;
    }

    .text-section>h5 {
        font-size: var(--primary-font);
    }

    /* ---------------- footer section -------------------- */
    footer {
        flex-direction: column;
    }

    .footer-part1 {
        width: 90%;
    }

    .footer-part2 {
        text-align: start;
        padding-left: 0.5rem;
    }

    .footer-part3 {
        padding-left: 0.5rem;
    }
















}