@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #01ACFD;
    --orange: #FEA301;
    --purple: #5D58F0;
    --dark: #111;
    --dark-02: #808080;
    --primary-font: 0.9em;
    --secondary-font: 1.2rem;
    --primary-padding: 3rem 7rem;
    --secondary-padding: 4rem 0;
    --primary-border-radius: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

h1,
h3,
a,
button {
    color: var(--dark);
    font-weight: 700;
}

p {
    font-size: var(--primary-font);
    font-weight: 500;
}

a {
    font-size: var(--secondary-font);
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header {}

/* ---------------------- nav section ------------------------ */
.navbar {
    padding: var(--primary-padding);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.brand {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

.brand>img {
    width: 70%
}


.menu-list {
    display: flex;
    gap: 1.6rem;
}

.orange {
    background-color: var(--orange);
}

.btn {
    border: none;
    color: white;
    padding: 0.5rem 3rem;
    border-radius: var(--primary-border-radius);
    font-size: var(--secondary-font);
}

.menu-icon>i {
    font-size: 30px;
}

.menu-icon {
    display: none;
}

/* ------------------------------ hero section ---------------------------- */

.hero-section {
    margin: var(--primary-padding);
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero-section-part1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
}

.hero-section-part2 {
    width: 50%;
}

.hero-section-part1>h1 {
    font-size: 2.7rem;
}

/* ---------------- standard curriculum section -------------------- */
.standard-curriculum {
    padding: var(--primary-padding);
    text-align: center;
    background: url('assets/bg.png') no-repeat;
    background-size: cover;
}

.curriculum-cards {
    width: 100%;
    padding: var(--secondary-padding);
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

}

.curriculum-card {
    width: 100%;
    height: 360px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--primary-border-radius);
}

.curriculum-card>img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.curriculum-card>p {
    color: var(--dark-02);
}

.curriculum-card>a {
    font-size: var(--primary-font);
}

.card1 {
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card2 {
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card3 {
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.arrow>span {
    padding: 10px 15px;
    border-radius: 50%;
    background-color: var(--orange);
    font-weight: 900;
    color: #FFF;

}

/* ------------------------------------- our stories ---------------------------- */
.our-stories {
    padding: var(--primary-padding);
    text-align: center;
    background-image: url('assets/bg.png'), linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%);
    background-repeat: no-repeat;
}

.item1 {
    grid-area: card1;
}

.stories-card {
    padding: var(--secondary-padding);
    border-radius: var(--primary-border-radius);
    display: grid;
    grid-template-areas: 'card1 card1 . . '
                        'card1 card1 . . ';
    gap: 1rem;
}

.story-card {
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: var(--primary-border-radius);
}

.text-section {
    text-align: start;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.img {
    position: relative;
}

.img>img {
    border-radius: 1rem 1rem 0 0;
}

.date {
    position: absolute;
    border-radius: 47.934px;
    background: #95B226;
    color: white;
    padding: 0.8rem;
    width: fit-content;
    bottom: -7px;
    left: 10px;

}

.text {
    color: var(--dark-02);
}


/* ----------------------------- footer section ------------------------------------- */
footer {
    background-color: var(--blue);
    padding: var(--primary-padding);
    padding-top: 5rem;
    color: white;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2.5rem;
}

.footer-part1 {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-part1>p {
    width: 100%;
    padding: 0.6rem;
}

.footer-title {
    display: flex;
    align-items: center;
}

.footer-title>img {
    width: 70px;
}

.footer-title>h1 {
    color: white;
}

.footer-part2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-part2>a {
    color: white;
    font-weight: 500;
}


.icons {
    display: flex;
    gap: 0.5rem;
    padding-top: 1rem;
}

@media screen and (max-width:1100px) {}