@media screen and (max-width:997px) {

    :root {
        --primary-font: 0.8rem;
        --secondary-font: 0.9rem;
        --primary-padding: 3rem 4rem;
        --secondary-padding: 3rem 0;
    }

    .brand>h1 {
        display: none;
    }

    .navbar {
        border: 1px solid var(--orange);
    }

    .brand>img {
        width: 50px;

    }

    .hero-section-part1>h1 {
        font-size: 1.5rem;
    }

    .hero-section-part1 {
        width: 55%;
        gap: 1rem;

    }

    .hero-section-part2 {
        width: 45%;
    }

    /* ---------------- standard curriculum section -------------------- */
    .curriculum-cards {
        flex-wrap: wrap;
    }

    .curriculum-card {
        width: 45%;
    }

    .stories-card {
        flex-direction: column;
    }

    .part2 {
        height: 100%;
    }

    .part2 .story-card .img {
        height: 270px;
    }

























}

@media screen and (max-width:850px) {
    .part2 .story-card .img {
        height: 204px;
    }


}